<h2>Skráðu þig sem notandi</h2>

<%= form_for(resource, :html => { :class => 'pure-form' }, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<fieldset class="pure-group">
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Netfang" %><br />
  <%= f.email_field :email, :class => 'pure-input-1-2' %></div>

  <div><%= f.label :password, "Lykilorð" %><br />
  <%= f.password_field :password, :class => 'pure-input-1-2'%></div>

  <div><%= f.label :password_confirmation, "Lykilorð aftur", :class => 'pure-input-1-2' %><br />
  <%= f.password_field :password_confirmation, :class => 'pure-input-1-2' %></div>

</fieldset>
  <div><%= f.submit "Sign up", :class => 'pure-button pure-input-1-2' %></div>
<% end %>
<br />
<%= render "devise/shared/links" %>
