<h1>Kvittanirnar þínar</h1>

<table class="pure-table" style="width: 100%;">
  <thead>
  <tr>
    <th>Dagsetning</th>
    <th>Verslun</th>
    <th>Fjöldi vara</th>
    <th>Upphæð samtals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% if @receipts.length == 0 %>
  <tr><td colspan="7">Engar kvittanir komnar!</td></tr>
<% end %>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.timestamp.strftime('%d/%m/%Y') %></td>
    <td><%= receipt.store ? receipt.store.name : 'Óvitað' %></td>
    <td><%= receipt.no_of_items %></td>
    <td><%= receipt.total_amount %></td>
    <td><%= link_to 'Nánar', receipt %></td>
    <td><%= link_to 'Breyta', edit_receipt_path(receipt) %></td>
    <td><%= link_to 'Eyða', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<div style="float: right; ">
<%= link_to 'Búa til nýja kvittun', new_receipt_path, :class => 'pure-button pure-button-primary' %>
</div>