<p id="notice"><%= notice %></p>

<p>
  <b>Timestamp:</b>
  <%= @receipt.timestamp %>
</p>

<p>
  <b>User:</b>
  <%= @receipt.user_id %>
</p>

<p>
  <b>Store:</b>
  <%= @receipt.store_id %>
</p>

<table class="pure-table">
    <thead>
        <tr>
            <th>Flokkur</th>
            <th>Vöruheiti</th>
            <th>Magn</th>
            <th>Verð/einingu</th>
            <th>Samtals</th>
        </tr>
    </thead>

    <tbody>

<% @receipt.receipt_items.each do |r| %>
    <tr>
        <td><%= r.letter %></td>
        <td><%= r.name %></td>
        <td><%= r.quantity %></td>
        <td><%= r.price %></td>
        <td><%= r.total %></td>
    </tr>
<% end %>

    </tbody>
</table>

<script type="text/javascript">
    $('.saver').click() {}
</script>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
