<table class="pure-table pure-table-horizontal" width="100%">
  <thead>
    <tr>
      <th>Vöruheiti</th>
      <!--<th>Is per kg</th>-->
      <th></th>
    </tr>
  </thead>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <!--<td><%= product.is_per_kg %></td>-->
    <td style="text-align: right;"><%= link_to 'Skoða verðþróun', product %></td>
    <!--
    <td><%= link_to 'Breyta', edit_product_path(product) %></td>
    <td><%= link_to 'Eyða', product, method: :delete, data: { confirm: 'Ertu viss?' } %><
    /td>
    -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Búa til nýja vöru', new_product_path, :class => 'pure-button pure-button-primary' %>
